<!DOCTYPE HTML>
<html>

<head>
    <title>Asynchronous Loading</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 0px
      }
      #map_box  {
        height: 100%;
        width: 100%;
        position: absolute;
      }
    </style>
    <!--<script src="/assets/javascripts/google_map.js"></script> -->

    <%= javascript_include_tag "application" %>

    
  </head>
  <body>
  	<p id="notice"><%= notice %></p>
    <section id="address"><%= @restaurant.address %></section>

    <button id="findAddress">Places Nearby</button>

    <div id="map_box">
      <div id="map-canvas"></div>
    </div>

        <script>

          $(document).ready(function() {
            window.onload = loadScript;
          });
	    	  

	    </script>
  </body>
</html>

<%= link_to 'Back', restaurants_path %></h1>